html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
background:transparent;
border:0;
outline:0;
margin:0;
padding:0;
}

noscript {
color: red;
}

noscript p {
width: 90%;
margin:0 auto;
padding: 1em;
}

html,body {
height:100%;
}

body,td,textarea,input,select {
font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
font-size:1em;
}

body,textarea {
line-height:1.4em;
}

textarea,input,select {
margin:1px;
padding:3px;
}

input,select {
line-height:15px;
}

p {
margin:1em 0;
}

ol,ul {
list-style:none;
}

h1 {
margin: 1em;
}

table.fixed {
table-layout:fixed;
}

#cms_content {
clear:both;
width:90%;
margin:0 auto;
}

.fixed .column-categories,.fixed .column-tags {
width:15%;
}

.wideluzy {
-khtml-border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border-spacing:0;
clear:both;
width:100%;
border-color:#dfdfdf;
border-style:solid;
border-width:1px;
}

table.wideluzy .highlightcolor {
	background-color: #FFF9D3;		
}

table.wideluzy .hovercolor {
	background-color: #DBE7FF;	
	cursor: pointer;
}

.wideluzy * {
word-wrap:break-word;
}

.wideluzy .column-check {
width:2.2em;
padding:0;
}

.wideluzy tbody th.column-check {
vertical-align:top;
padding:7px 0;
}

.wideluzy td {
vertical-align:top;
padding:3px 7px;
}

.wideluzy td.column-check {
vertical-align:top;
padding:7px 7px;
}

.wideluzy td p,.wideluzy td ol,.wideluzy td ul {
font-size:11px;
}

.wideluzy td,.wideluzy th {
font-size:.75em;
}

.wideluzy th {
line-height:1.3em;
text-align:left;
text-shadow:rgba(255,255,255,0.8) 0 1px 0;
padding:7px 7px 8px;
}

.wideluzy th input {
vertical-align:text-top;
margin:0 0 0 8px;
padding:0;
}

.wideluzy thead tr th,.wideluzy tfoot tr th {
background:#dfdfdf url(/images/admin-gray-grad.png) repeat-x scroll left top;
color:#333;
}

#cms_edit {
padding-bottom:10px;
}

#cmd_edit_content {
}

#cmd_edit_content_meta {
position:relative;
margin-bottom:20px;
}

#cmd_edit_content_meta label {
cursor:text;
}

#cmd_edit_content_meta input, select {
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
font-size:1.7em;
line-height:100%;
width:100%;
outline:none;
border-style:solid;
border-width:1px;
padding:3px 4px;
margin-bottom: 0.5em;
}

#cmd_edit_content_meta select {
width:101%;
}

#cmd_edit_content_meta .prompt {
color:#bbb;
position:absolute;
font-size:1.7em;
padding:8px;
float:right;
}


#cms_edit_content_raw #raw {
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
font-size:1.7em;
line-height:100%;
width:100%;
outline:none;
border-style:solid;
border-width:1px;
padding:3px 4px;
}

#cms_edit_content_buttons {
}

#cms_edit_content_buttons button {
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
min-width:10em;
float: right;
padding: 1em;
margin: 1em;
}
